body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
height:100vh;
background:linear-gradient(160deg,#0f2a44,#0a1c33,#071529);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.welcome-container{
text-align:center;
max-width:400px;
padding:20px;
}

.bus-icon{
width:100px;
height:100px;
background:rgba(255,255,255,0.1);
border-radius:25px;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
font-size:40px;
}

.welcome-title{
font-size:60px;
margin-top:30px;
background:linear-gradient(90deg,#b7e3ff,#6bc3ff);
-webkit-background-clip:text;
color:transparent;
}

.welcome-text{
margin-top:20px;
font-size:20px;
color:#c7d4e5;
line-height:1.6;
}

.start-btn{
margin-top:40px;
background:#1da1f2;
border:none;
padding:18px 45px;
border-radius:40px;
font-size:20px;
color:white;
cursor:pointer;
transition:0.3s;
}

.start-btn:hover{
background:#0c8ddb;
}

.bottom-nav{
position:fixed;
bottom:0;
width:100%;
background:#06172b;
display:flex;
justify-content:space-around;
padding:15px 0;
}

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
font-size:14px;
color:#9fb3c9;
}

.nav-item i{
font-size:20px;
margin-bottom:5px;
}

.nav-item.active{
color:white;
}
.bus-page{
padding:40px;
text-align:center;
}

.filters{
margin:30px 0;
display:flex;
justify-content:center;
gap:20px;
}

select{
padding:10px;
font-size:16px;
}

.bus-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:30px;
}

.bus-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
width:200px;
}

.book-btn{
margin-top:15px;
padding:10px 20px;
background:#2c7be5;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
.seat-page{
padding:40px;
text-align:center;
}

.bus-layout{
width:300px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.driver{
background:#333;
color:white;
padding:10px;
margin-bottom:15px;
}

.seats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.seat{
background:#e4e4e4;
padding:15px;
border-radius:6px;
cursor:pointer;
}

.seat:hover{
background:#ccc;
}

.seat.selected{
background:#2c7be5;
color:white;
}

.seat-info{
margin-top:30px;
}

#continueBtn{
padding:12px 25px;
background:#28a745;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
